.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .lgnContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .lgnInput {
      height: 30px;
      padding: 10px;
    }

    .lgnButton {
      border: none;
      padding: 10px 20px;
      background-color: #0071c2;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;

      &:disabled {
        background-color: #0071c28c;
        font-weight: bold;
        cursor: not-allowed;
      }
    }
  }
}